---
layout: page
---

                        <article role="article">
                            <header>
                                <h2 class="title is-3 has-text-weight-light" role="heading" aria-level="2">Mario Abreu</h2>
                            </header>
                            <hr role="separator">
                            {% if page.picture!=nil %}
                            <div class="content has-text-centered">
                                <figure class="image is-pulled-right" role="figure">
                                    <img class="is-all-rounded" src="{{page.picture}}" alt="Picture of {{site.author}}" style="max-width: 160px;" role="img">
                                </figure>
                            </div>
                            {%endif%}
                            {{content}}                            
                        </article>