---
layout: default
---

                        <article class="section">
                            <header>
                                <h2 class="title is-4 has-text-weight-light">Mario Abreu</h2>
                            </header>
                            <hr>
                            {% if page.picture!=nil %}
                            <div class="content has-text-centered">
                                <figure class="image">
                                    <img class="is-rounded" src="{{page.picture}}" alt="Picture of {{site.author}}" style="max-width: 150px;">
                                </figure>
                            </div>
                            {%endif%}
                            {{content}}                            
                        </article>